<div class="container-fluid">
  <div class="row comission">
    <div class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 order-md-2">
      <p>Control Prefrence</p>
    </div>
    <div
      class="col-lg-6 col-md-12 col-sm-12 order-1 ordedr-lg-2 order-md-1 pr-0 content-top-nav"
    >
      <ul class="top-nav-ul text-right mr-0">
        <li class="t-line">Network: <span>Bangalore</span></li>
        <li>23/08/2022, 12:03:00 AM</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card p-4">
        <h4 class="mb-4">Filters</h4>
        <div class="">
          <!-- Select -->
          <form action="">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <label for="">Module</label>
                  <select class="nice-select w-100">
                    <option selected>Channel to Subscriber</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                  <label for="">Control Type</label>
                  <select class="nice-select w-100">
                    <option selected>Service type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <label for="">Prefrence</label>
                  <select class="nice-select w-100">
                    <option selected>Reciver message allow</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="text-right">
          <a class="btn btn-reset mr-2 text-uppercase" href=""> Reset </a>
          <a class="btn btn-light-secondary text-uppercase" href="">
            Proceed
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card p-4">
        <h4 class="mb-4">Modify Network Prefrence</h4>
        <div class="Network-prefrence-search-input">
          <!-- Search Input -->
          <div class="input-group has-search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fal fa-search"></i>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Search" />
          </div>
        </div>
        <div class="before-table-cobtrol-prefrence">
          <div class="row">
            <div class="col-lg-5">
              <div>
                <div>
                  <p class="text-muted text-uppercase small">
                    Prefrence Description
                  </p>
                </div>
                <div>
                  <p>service type wise reciver SMS message allowed flow</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div>
                <div>
                  <p class="text-muted text-uppercase small">Value type</p>
                </div>
                <div>
                  <p>Boolean type value</p>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div>
                <div>
                  <p class="text-muted text-uppercase small">
                    Value Modifiaction Allowed
                  </p>
                </div>
                <div>
                  <p>Yes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th
                    class="font-weight-light text-muted text-transform-normal"
                    scope="col"
                  >
                    Control Name (Service Type)
                  </th>
                  <th
                    class="font-weight-light text-muted text-transform-normal"
                    scope="col"
                  >
                    Value
                  </th>
                  <th
                    class="font-weight-light text-muted text-transform-normal"
                    scope="col"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Digital Voucher Distribution</td>
                  <td>
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id=""
                          aria-describedby=""
                          placeholder="500"
                          value="True"
                        />
                      </div>
                    </form>
                  </td>
                  <td class="text-center">
                    <a href="">
                      <i class="fal fa-trash-alt text-muted"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Digital Voucher Distribution</td>
                  <td>
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id=""
                          aria-describedby=""
                          placeholder="500"
                          value="True"
                        />
                      </div>
                    </form>
                  </td>
                  <td class="text-center">
                    <a href="">
                      <i class="fal fa-trash-alt text-muted"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Digital Voucher Distribution</td>
                  <td>
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id=""
                          aria-describedby=""
                          placeholder="500"
                          value="True"
                        />
                      </div>
                    </form>
                  </td>
                  <td class="text-center">
                    <a href="">
                      <i class="fal fa-trash-alt text-muted"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Digital Voucher Distribution</td>
                  <td>
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id=""
                          aria-describedby=""
                          placeholder="500"
                          value="True"
                        />
                      </div>
                    </form>
                  </td>
                  <td class="text-center">
                    <a href="">
                      <i class="fal fa-trash-alt text-muted"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-right">
          <a
            class="btn btn-light-secondary text-uppercase"
            href="control-prefrence-review-and-confirm.html"
          >
            Proceed
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
