<div class="row comission">
  <p class="ml-3">Service Group Management</p>
  <div class="content-top-nav ml-auto">
    <ul class="top-nav-ul">
      <li class="t-line">Network: <span>Bangalore</span></li>
      <li>23/08/2022, 12:03:00 AM</li>
    </ul>
  </div>

  <div class="col-12">
    <div class="card">
      <div>
        <div class="row py-4 px-3 px-md-0 mb-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="input-group has-search ml-0 ml-md-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fal fa-search"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search by Profile name"
              />
              <!-- <div class="input-group-append">
                <button class="btn btn-light-secondary" type="button">
                  GO
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <a
              class="btn mr-4 mt-0 ml-2"
              href="manage-service-group-add-bonus.html"
              ><i class="fal fa-plus-circle mr-2"></i>ADD</a
            >
          </div>
        </div>
        <div class="table-container">
          <table class="table mb-5">
            <thead>
              <tr>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Group Name
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Group code
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Status
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>New</td>
                <td>NW1</td>
                <td>Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="manage-service-group-modify-bonus.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb-5 px-4">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
            <form class="ml-4 mt-1" action="">
              <div class="form-groug d-flex pagination-entries">
                <label
                  for="inputPassword"
                  class="col-form-label mr-3 rounded-left"
                  >Show</label
                >
                <input
                  type="number"
                  class="form-control mr-3"
                  id="entery"
                  placeholder="10"
                  value="10"
                />
                <p class="mt-2">Entries</p>
              </div>
            </form>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div
              class="ch-pagination d-lg-flex d-block float-lg-right float-none mr-4"
            >
              <nav aria-label="Page navigation example" class="mr-2">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">25</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">78</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="input-pagination">
                <form action="">
                  <div class="form-group d-flex">
                    <label for="inputPassword" class="col-form-label mr-2"
                      >Go to page</label
                    >
                    <input
                      type="text"
                      class="form-control mr-3 w-25"
                      id="entery"
                      placeholder="10"
                      value="10"
                    />
                    <a href=""> Go <i class="fal fa-angle-right"></i> </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
