<div class="row comission">
  <div class="content-top-nav ml-auto">
    <ul class="top-nav-ul">
      <li class="t-line">Network: <span>Bangalore</span></li>
      <li>23/08/2022, 12:03:00 AM</li>
    </ul>
  </div>
  <div class="col-12">
    <div class="card">
      <div>
        <div class="row py-4 mb-3">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-12">
            <div class="input-group has-search ml-0 ml-md-4 mt-2 px-md-0 px-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fal fa-search"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control ch-channel-search"
                placeholder="Search"
              />
            </div>
          </div>
        </div>
        <div class="table-container">
          <table class="table mb-5">
            <thead>
              <tr>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Stock transaction ID
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Stock date
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Requester name
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Location
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Refrence number
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">
                  Wallet type
                </th>
                <th class="border-top-0 border-bottom-0" scope="col">Amount</th>
                <th class="border-top-0 border-bottom-0" scope="col">Status</th>
                <th class="border-top-0 border-bottom-0" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-primary"
                    href="network-stock-approval-lvl-2-details.html"
                  >
                    NTNG980106.0209.110003
                  </a>
                </td>
                <td>24-04-2019</td>
                <td>Rakesh Kumar</td>
                <td>Network GGN</td>
                <td>9877676656</td>
                <td>SAL</td>
                <td>$2</td>
                <td>New</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="text-success text-bold mr-2"
                      href="network-stock-approval-lvl-2-details.html"
                    >
                      Approve
                    </a>
                    <a class="text-danger mr-2 text-bold" href=""> Reject </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb-5 px-4">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
            <form class="ml-0 ml-lg-4 mt-1" action="">
              <div
                class="form-groug d-flex justify-content-center justify-content-lg-start pagination-entries"
              >
                <label
                  for="inputPassword"
                  class="col-form-label mr-3 rounded-left"
                  >Show</label
                >
                <input
                  type="number"
                  class="form-control mr-3"
                  id="entery"
                  placeholder="10"
                  value="10"
                />
                <p class="mt-2">Entries</p>
              </div>
            </form>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div
              class="ch-pagination d-lg-flex d-block float-lg-right float-none mr-0 mr-md-4"
            >
              <nav aria-label="Page navigation example" class="mr-0 mr-lg-2">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">25</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">78</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="input-pagination mx-auto">
                <form action="">
                  <div class="form-group d-flex">
                    <label for="inputPassword" class="col-form-label mr-2"
                      >Go to page</label
                    >
                    <input
                      type="text"
                      class="form-control mr-3 w-25"
                      id="entery"
                      placeholder="10"
                      value="10"
                    />
                    <a href=""> Go <i class="fal fa-angle-right"></i> </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
