<div class="row comission">
  <div class="content-top-nav ml-auto">
    <ul class="top-nav-ul">
      <li class="t-line">Network: <span>Bangalore</span></li>
      <li>23/08/2022, 12:03:00 AM</li>
    </ul>
  </div>
  <div class="col-12">
    <h4 class="mb-4">Transfer Control Profile</h4>
    <div class="card mb-4">
      <div class="d-flex justify-content-between px-3 py-3">
        <h4>Filters</h4>
        <a
          class="light-text"
          data-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Hide<i class="fal fa-angle-down ml-2"></i>
        </a>
      </div>
      <div class="collapse show" id="collapseExample">
        <div class="card-body">
          <form class="comission-profile-filter-form" action="">
            <div class="form-row align-items-end">
              <div class="form-group col-xl-2 col-lg-4 col-md-4 col-sm-12">
                <label for="inputState">Domain</label>
                <select id="inputState" class="nice-select w-100">
                  <option selected>All</option>
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                </select>
              </div>
              <div class="form-group col-xl-2 col-lg-4 col-md-4 col-sm-12">
                <label for="inputState">Category</label>
                <select id="inputState" class="nice-select w-100">
                  <option selected>All</option>
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                </select>
              </div>

              <div class="form-group col-xl-2 col-lg-4 col-md-4 col-sm-12">
                <label for="inputState">Status</label>
                <select id="inputState" class="nice-select w-100">
                  <option selected>All</option>
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                </select>
              </div>
              <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                <div class="form-buttons">
                  <button type="reset" class="btn btn-reset mr-2">Reset</button>
                  <button type="submit" class="btn btn-light-secondary">
                    Proceed
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="row pl-4 pt-4">
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="">
              <h4 class="mb-3 mt-3 mr-3">Transfer Control Profile</h4>
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="text-right text-lg-left">
              <a class="btn mr-4" href="add-transfer-control-profile.html"
                ><i class="fal fa-plus-circle mr-2"></i>ADD Transfer Control
                PROFILE</a
              >
            </div>
          </div>
        </div>
        <div class="row py-4 px-3 px-md-0 mb-3">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group has-search ml-0 ml-md-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fal fa-search"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search by Profile name"
              />
              <!-- <div class="input-group-append">
                <button class="btn btn-light-secondary" type="button">
                  GO
                </button>
              </div> -->
            </div>
          </div>
          <!-- <div class="offset-xl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12 text-center text-md-right">
            <a class="btn mr-4" href="add-transfer-control-profile.html"><i class="fal fa-plus-circle mr-2"></i>ADD Transfer
              Control PROFILE</a>
          </div> -->
        </div>
        <div class="table-container">
          <table class="table mb-5">
            <thead>
              <tr>
                <th class="border-top-0 border-bottom-0" scope="col">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="all"
                      />
                      <label class="custom-control-label" for="all"></label>
                    </div>
                  </form>
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Profile Name
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Profile ID
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Description
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Short name
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Status
                </th>
                <th
                  class="border-top-0 border-bottom-0 text-transform-normal"
                  scope="col"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck1"
                      />
                      <label
                        class="custom-control-label"
                        for="customCheck1"
                      ></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                  <span class="text-green"
                    ><sup><i class="fas fa-check-circle"></i></sup>
                    (Default)</span
                  >
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a
                      class="light-text mr-2"
                      href="modify-transfer-control-profile.html"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c1"
                      />
                      <label class="custom-control-label" for="c1"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c2"
                      />
                      <label class="custom-control-label" for="c2"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c3"
                      />
                      <label class="custom-control-label" for="c3"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c4"
                      />
                      <label class="custom-control-label" for="c4"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c5"
                      />
                      <label class="custom-control-label" for="c5"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <form action="">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="c6"
                      />
                      <label class="custom-control-label" for="c6"></label>
                    </div>
                  </form>
                </th>
                <td>
                  <a class="text-primary" href=""> Dist1 </a>
                </td>
                <td>219</td>
                <td>
                  automated Tranfer Automated Tranfer Control Profile Creation
                  Control Profile Creation control Profile Creation.
                </td>
                <td>Dist1</td>

                <td class="text-success">Active</td>
                <td>
                  <div class="action-icons">
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-edit"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-cog"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-ban"></i>
                    </a>
                    <a class="light-text mr-2" href="">
                      <i class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb-5 px-4">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
            <form class="ml-0 ml-lg-4 mt-1" action="">
              <div
                class="form-groug d-flex justify-content-center justify-content-lg-start pagination-entries"
              >
                <label
                  for="inputPassword"
                  class="col-form-label mr-3 rounded-left"
                  >Show</label
                >
                <input
                  type="number"
                  class="form-control mr-3"
                  id="entery"
                  placeholder="10"
                  value="10"
                />
                <p class="mt-2">Entries</p>
              </div>
            </form>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div
              class="ch-pagination d-lg-flex d-block float-lg-right float-none mr-0 mr-md-4"
            >
              <nav aria-label="Page navigation example" class="mr-0 mr-lg-2">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">25</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">78</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="input-pagination mx-auto">
                <form action="">
                  <div class="form-group d-flex">
                    <label for="inputPassword" class="col-form-label mr-2"
                      >Go to page</label
                    >
                    <input
                      type="text"
                      class="form-control mr-3 w-25"
                      id="entery"
                      placeholder="10"
                      value="10"
                    />
                    <a href=""> Go <i class="fal fa-angle-right"></i> </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
