<div class="row comission">
  <p>Service Group Management</p>
  <div class="content-top-nav ml-auto">
    <ul class="top-nav-ul">
      <li class="t-line">Network: <span>Bangalore</span></li>
      <li>23/08/2022, 12:03:00 AM</li>
    </ul>
  </div>
  <div class="col-12">
    <ul
      class="nav nav-tabs comission-profile-first-toggle mb-3"
      id="myTab"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link active mr-1"
          id="single-operation-tab"
          data-toggle="tab"
          href="#single-operation"
          role="tab"
          aria-controls="single-operation"
          aria-selected="true"
          >Associate</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="bulk-operation-tab"
          data-toggle="tab"
          href="#bulk-operation"
          role="tab"
          aria-controls="bulk-operation"
          aria-selected="false"
          >Re-associate</a
        >
      </li>
    </ul>
  </div>
  <div class="col-12">
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="single-operation"
        role="tabpanel"
        aria-labelledby="single-operation-tab"
      >
        <div class="card mb-4">
          <div class="card-body">
            <form class="comission-profile-filter-form" action="">
              <div class="upload-image mt-4">
                <a href="#download" class="download-template"
                  ><i class="fal fa-arrow-to-bottom download-icon mr-2"></i>
                  Download Template</a
                >
                <div class="file-upload mt-4">
                  <h5>Upload file</h5>
                  <div class="image-upload-wrap">
                    <input
                      class="file-upload-input"
                      type="file"
                      id="inputState"
                      onchange="readURL(this);"
                      accept="image/*"
                    />
                    <div class="drag-text">
                      <h4>Drag and drop a file or select add Image</h4>
                      <h3>Choose</h3>
                    </div>
                  </div>
                  <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                      <button
                        type="button"
                        onclick="removeUpload()"
                        class="remove-image"
                      >
                        Remove
                        <span class="image-title">Uploaded Image</span>
                      </button>
                    </div>
                  </div>
                </div>
                <p class="mt-2">
                  (You can upload file upto 2MB in XML, XLS, CSV format)
                </p>
              </div>
              <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-reset mr-2">Reset</button>
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="bulk-operation"
        role="tabpanel"
        aria-labelledby="bulk-operation-tab"
      ></div>
    </div>
  </div>
</div>
