<div class="row">
  <div class="content-top-nav ml-auto">
    <ul class="top-nav-ul">
      <li class="t-line">Network: <span>Bangalore</span></li>
      <li>23/08/2022, 12:03:00 AM</li>
    </ul>
  </div>
  <div class="col-12">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="assets/img/dashboard-images/Banner3.png"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="assets/img/dashboard-images/Banner3.png"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="assets/img/dashboard-images/Banner3.png"
            alt="Third slide"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h4 class="mb-3 overview-heading">Overview Dashboard</h4>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <div>
        <select class="nice-select nice-select-rounde mt-2">
          <option value="1">1st nov - 15 nov</option>
          <option value="2">16 nov - 30 nov</option>
          <option value="3">1st dec - 15 dec</option>
          <option value="4">16 dec - 31 dec</option>
        </select>
      </div>
      <div>
        <a class="btn white-icn-btn" href="#"><i class="fal fa-cog"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
    <h4 class="mb-3">Other Actions</h4>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <ul class="list-unstyled">
            <li class="media dashboard-media">
              <!-- <img class="mr-3" src="" alt="Generic placeholder image"> -->
              <i
                class="fal fa-wallet mr-2 icon-background align-self-center sky-blue-color"
              ></i>
              <div class="media-body">
                <h5 class="mt-0 text-dark">Transaction Approval</h5>
                <p class="mt-2 light-text">
                  <b class="light-text-bold"> 85 </b>
                  Pending
                </p>
              </div>
              <a class="btn light-icn-btn align-self-center" href=""
                ><i class="far fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <ul class="list-unstyled">
            <li class="media dashboard-media">
              <!-- <img class="mr-2" src="" alt="Generic placeholder image"> -->
              <i
                class="fal fa-user mr-2 icon-background align-self-center red-color"
              ></i>
              <div class="media-body">
                <h5 class="mt-0 text-dark">User Approval</h5>
                <p class="mt-2 light-text">
                  <b class="light-text-bold"> 38 </b>
                  Pending
                </p>
              </div>
              <a class="btn light-icn-btn align-self-center" href=""
                ><i class="far fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <ul class="list-unstyled">
            <li class="media dashboard-media">
              <!-- <img class="mr-2" src="" alt="Generic placeholder image"> -->
              <i
                class="fal fa-user-tie mr-2 icon-background align-self-center yellow-icon-color"
              ></i>
              <div class="media-body">
                <h5 class="mt-0 text-dark">Staff User Approvals</h5>
                <p class="mt-2 light-text">
                  <b class="light-text-bold"> 85 </b>
                  Pending
                </p>
              </div>
              <a class="btn light-icn-btn align-self-center" href=""
                ><i class="far fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <ul class="list-unstyled">
            <li class="media dashboard-media">
              <!-- <img class="mr-2" src="" alt="Generic placeholder image"> -->
              <i
                class="fal fa-user mr-2 icon-background align-self-center red-color"
              ></i>
              <div class="media-body">
                <h5 class="mt-0 text-dark">User Barring Management</h5>
                <p class="mt-2 light-text">
                  <b class="light-text-bold"> 85 </b>
                  Pending
                </p>
              </div>
              <a class="btn light-icn-btn align-self-center" href=""
                ><i class="far fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-12">
    <h4 class="mb-3">Transaction Reversal</h4>
    <div class="mb-5 transection-reversal">
      <div class="card link-card-dashboard">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between">
            <a class="link-blue-color mr-1" href="#"
              >Channel to Subscriber Transaction Reversal</a
            >
            <a class="btn light-icn-btn align-self-center" href=""
              ><i class="far fa-angle-right"></i
            ></a>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <a class="link-blue-color mr-1" href="#"
              >Channel to Subscriber Transaction Reversal</a
            >
            <a class="btn light-icn-btn align-self-center" href=""
              ><i class="far fa-angle-right"></i
            ></a>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <a class="link-blue-color mr-1" href="#"
              >Channel to Subscriber Transaction Reversal</a
            >
            <a class="btn light-icn-btn align-self-center" href=""
              ><i class="far fa-angle-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card dashboard-second-card">
      <div class="row">
        <div class="col-xl-3 col-lg-12">
          <div class="mb-3 mb-lg-0 mb-md-0 mt-4">
            <h4 class="mb-2 reports">Reports and Enquirie</h4>
            <p>
              Track and understand the reports of Channel to channel transfer,
              Channel to subscriber transfer and more.
            </p>
          </div>
        </div>
        <div class="col-xl-9 col-lg-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-lg-0">
              <div
                class="link-div-adj link-div-adj-border link-div-adj-border-right"
              >
                <a class="link-blue-color mr-1" href=""
                  >Operator to Channel Transfer &amp; Commission</a
                >
                <a class="btn light-icn-btn align-self-center" href=""
                  ><i class="far fa-angle-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-lg-0">
              <div class="link-div-adj link-div-adj-border">
                <a class="link-blue-color mr-1" href=""
                  >Channel to Channel Transfer &amp; Commission</a
                >
                <a class="btn light-icn-btn align-self-center" href=""
                  ><i class="far fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-lg-0">
              <div class="link-div-adj link-div-adj-border-right">
                <a class="link-blue-color mr-1" href=""
                  >Operator to Channel - Summary</a
                >
                <a class="btn light-icn-btn align-self-center" href=""
                  ><i class="far fa-angle-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-lg-0">
              <div class="link-div-adj link-div-adj-last">
                <a class="link-blue-color mr-1" href=""
                  >Channel to Channel Transfer - Summary</a
                >
                <a class="btn light-icn-btn align-self-center" href=""
                  ><i class="far fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
